{% extends 'header.html' %}

{% load humanize %}

{% block content %} 
    <div style="max-width: 600px; margin-top:32px; margin-left:auto;margin-right:auto;">
        <h1 class="title">Single</h1>
        <table class="table is-striped">
					<thead>
						<tr>
							<th>순위</th>
							<th>이름</th>
							<th>승</th>
							<th>패</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
							{% for player in singles %}
									<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ player.name }}</td>
											<td>{{ player.win }}</td>
											<td>{{ player.lose }}</td>
											<td>{{ player.rating_int|intcomma }}</td>
									</tr>
							{% endfor %}
					</tbody>
        </table>
    </div>
    
    <div style="max-width: 600px; margin-top:32px; margin-left:auto;margin-right:auto;">
        <h1 class="title">Double</h1>
        <table class="table is-striped">
					<thead>
						<tr>
							<th>순위</th>
							<th>이름</th>
							<th>승</th>
							<th>패</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
            {% for player in doubles %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.win }}</td>
                    <td>{{ player.lose }}</td>
                    <td>{{ player.rating_int|intcomma }}</td>
                </tr>
            {% endfor %}
					</tbody>
        </table>
    </div>

{% endblock %}
