{% extends 'header.html' %}

{% block content %}
    <br>

    <div style="max-width: 600px; margin: 0 auto;">

        <h2>Singles</h2>
        <form class="form-inline" action="{% url 'regist_single' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label style="background:blue">&nbsp;&nbsp;</label>
                <select class="form-control" id="blue_player" name="blue_player">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="blue_score" name="blue_score">
                    {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                :
                <select class="form-control" id="red_score" name="red_score">
                    {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="red_player" name="red_player">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <label style="background:red">&nbsp;&nbsp;</label>
                <button type="submit" class="btn btn-default">등록</button>
            </div>



        </form>

        <br>
        <h2>Doubles</h2>
        <form class="form-inline" action="{% url 'regist_double' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label style="background:blue">&nbsp;&nbsp;</label>
                <select class="form-control" id="blue_player_1" name="blue_player_1">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="blue_player_2" name="blue_player_2">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="blue_score" name="blue_score">
                    {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                :
                <select class="form-control" id="red_score" name="red_score">
                    {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="red_player_1" name="red_player_1">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="red_player_2" name="red_player_2">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.name }}</option>
                    {% endfor %}
                </select>
                <label style="background:red">&nbsp;&nbsp;</label>
                <button type="submit" class="btn btn-default">등록</button>
            </div>
        </form>

    </div>
{% endblock %}


