{% extends 'header.html' %}

{% block content %}

    <div style="max-width: 600px; margin-top:32px; margin-left:auto;margin-right:auto;"> 
			<h1 class="title">Single</h1>
			<form action="{% url 'regist_single' %}" method="post">
					{% csrf_token %}
					<div class="columns is-mobile">

						<div class="column">
							<div class="field has-addons has-addons-centered">
								<p class="control">
									<span class="select is-info">
										<select id="blue_player" name="blue_player">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-info">
										<select id="blue_score" name="blue_score">
												{% for i in range %}
														<option value="{{ i }}">{{ i }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
							</div>
						</div>
						
						<div class="column versus"><span>VS</span></div>
						
						<div class="column">
							<div class="field has-addons has-addons-centered">
								<p class="control">
									<span class="select is-danger">
										<select id="red_score" name="red_score">
												{% for i in range %}
														<option value="{{ i }}">{{ i }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-danger">
										<select id="red_player" name="red_player">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
							</div> 
						</div>

						<div class="column">
							<button class="button is-primary">등록</button>
						</div>
					</div>

			</form>

    </div>

    <div style="max-width: 600px; margin-top:32px; margin-left:auto;margin-right:auto;"> 
			<h1 class="title">Double</h1>
        <form action="{% url 'regist_double' %}" method="post">
					{% csrf_token %}
					<div class="columns is-mobile">

						<div class="column">
							<div class="field has-addons has-addons-centered">
								<p class="control">
									<span class="select is-info">
										<select id="blue_player_1" name="blue_player_1">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-info">
										<select id="blue_player_2" name="blue_player_2">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-info">
										<select id="blue_score" name="blue_score">
												{% for i in range %}
														<option value="{{ i }}">{{ i }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
							</div>
						</div>
						
						<div class="column versus"><span>VS</span></div>

						<div class="column">
							<div class="field has-addons has-addons-centered">
								<p class="control">
									<span class="select is-danger">
										<select id="red_score" name="red_score">
												{% for i in range %}
														<option value="{{ i }}">{{ i }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-danger">
										<select id="red_player_1" name="red_player_1">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
								<p class="control">
									<span class="select is-danger">
										<select id="red_player_2" name="red_player_2">
												{% for player in players %}
														<option value="{{ player.id }}">{{ player.name }}</option>
												{% endfor %}
										</select>
									</span>
								</p>
							</div> 
						</div>

						<div class="column">
							<button class="button is-primary">등록</button>
						</div>
					</div>

			</form>

    </div>

{% endblock %}


