{% extends 'header.html' %}

{% block content %}

    <br>
    <div style="max-width: 600px;margin:0 auto">
        <h2>Video</h2>
        <br>
        <h4>ITSF World Cup 2014</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x7yKp-wTCmY" frameborder="0" allowfullscreen></iframe>

        <br><br>
        <h4>Will’s Table Football Guide: Tips and Tricks</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Glm2fvHlbBk" frameborder="0" allowfullscreen></iframe>

        <br><br>
        <h4>Tutorials - Der Jet</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dFnJiSRNs6Y" frameborder="0" allowfullscreen></iframe>

    </div>

{% endblock %}